/* تنسيق الصفحة العامة */
body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to bottom right, #4A90E2, #D9E8F5);
    color: #333;
    margin: 0;
    padding: 0;
    direction: rtl; /* لعرض النصوص من اليمين لليسار */
}

/* تنسيق قسم نبذة عني */
.about {
    text-align: center;
    padding: 50px 0;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.about-content img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid #333;
}
.about-content p {
    font-size: 1.2em;
    color: #666;
}

/* تنسيق المشاريع */
.projects {
    padding: 50px 0;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.projects h2 {
    text-align: center;
    color: #000;
    font-size: 2em;
}
.project-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 0 20px;
}
.project {
    text-align: center;
    margin-bottom: 30px;
    width: 45%;
    margin-top: 20px;
}
.project img {
    width: 800px;
    height: 450px;
    object-fit: cover;
    border: 2px solid #000;
    border-radius: 8px;
}
.project h3 {
    font-size: 1.5em;
    color: #333;
    margin: 10px 0;
}
.project p {
    font-size: 1.1em;
    color: #555;
}

/* تنسيق قسم السيرة الذاتية ومعلومات التواصل */
.resume-contact {
    display: flex;
    justify-content: space-around;
    padding: 50px 0;
    background-color: #fff;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.resume, .contact {
    width: 45%;
    text-align: center;
}
.resume a, .contact a {
    display: block;
    margin: 10px 0;
    text-decoration: none;
    font-size: 1.3em;
    color: #000;
    font-weight: bold;
}
.social-icons a {
    color: #000;
    font-weight: bold;
    font-size: 1.2em;
}
